.header {
  background: linear-gradient(180deg, #2c5364, #203a43, #0f2027);
}
.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
h2 {
  margin: 0;
  color: #eee;
}
